<!-- Desktop View -->
<div class="hidden-xs">
    <ul>
        <a href="{{ menuItem.url }}" alt="" ng-click="setActiveMenu(menuItem.uid)" ng-repeat="menuItem in menu">
            <li>
                <span><img ng-src="{{ menuItem.icon }}" src="" alt=""/></span><span>{{ menuItem.title }}</span>
            </li>
        </a>
    </ul>

    <ul ng-show="activeMenu">
        <a href="" alt="" ng-click="setActiveMenu(previousMenu)">
            <li>Back</li>
        </a>
        <a href="{{ submenuItem.url }}" alt="" ng-click="setActiveMenu(submenuItem.uid)" ng-repeat="submenuItem in submenu">
            <li>{{ submenuItem.title }}</li>
        </a>
    </ul>
</div>